.main{
  background-color: var(--bg);
  grid-auto-rows: min-content;
  min-height: 100dvh;
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
  align-content: stretch;
  margin: auto 0;
  gap: 80px;
  padding: 10px;
  transition-duration: var(--color-transition);
}

@media (min-width: 700px) and (orientation: landscape)
{
  .main{
    gap: 30px;
  }
}
