.hg-container{
    display: grid;
    place-items: center;
    place-content: center;
    gap: 10px;
}

.hg-common{
    display: grid;
    place-items: stretch;
    border: solid var(--accent) 3px;
    min-height: 150px;
    min-width: 150px;
    overflow: clip;
}

.hg-top{
    border-radius: 0 0 50% 50%;
}

.hg-bottom{
    border-radius: 50% 50% 0 0;
}

.hg-inner{
    will-change: transform;
    background-color: var(--accent);
    margin: auto 0 0 0 ;
    transition-duration: .01s;
    height: 100%;
    width: 100%;
    transform-origin: bottom center;
    transition-timing-function: linear;
}

.hg-time{
    color: var(--accent);
    font-family: minim;
    font-size: 56px;
}

@media (min-width: 700px)
{
    .hg-common{
        min-height: 200px;
        min-width: 200px;
    }

    .hg-time{
        font-size: 32px;
    }
}