@font-face {
  font-family: "minim";
  src: url("../assets/fonts/minim.ttf");
}

@font-face {
  font-family: "kanit";
  src: url("../assets/fonts/Kanit-Regular.ttf");
}

:root {
  font-family: kanit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: grid;
  place-content: stretch;
  place-items: stretch;
}