.laps-list{
    display: flex;
    flex-direction: column;
}

.lap-row{
    display: grid;
    grid-auto-flow: column;
    place-self: center;
    place-content: stretch;
    font-size: 5vw;
    min-width: 80vw;
    color: var(--accent);
}

.lap-row:nth-child(even)
{
    background-color: var(--accent);
    color: var(--bg);
}

.lap{
    font-family: minim;
    place-self: flex-end;
}

@media (min-width: 700px) {
    .lap-row{
        font-size: 24px;
        min-width: 500px;
    }
}