.stopwatch{
    display: grid;
    grid-auto-rows: min-content;
    gap: 80px;
}

.watch{
    display: grid;
    place-items: center;
    place-content: center;
    min-height: 80vw;
    min-width: 80vw;
    place-self: center;
    margin: 80px 0 0 0;
}

.stopwatch-controls{
    display: flex;
    place-content: center;
    place-items: center;
    gap: 20px;
}

@media (min-width: 700px) and (orientation: landscape) {
    
    .watch{
        min-height: calc(170px * 2.5);
        min-width: calc(170px * 2.5);
        margin: 100px 0 0 0;
    }

    .stopwatch{
        gap: 80px;
    }
}