.stopwatch{
    display: grid;
    place-items: center;
    place-content: center;
    height: calc(170px * 2.5);
    width: calc(170px * 2.5);
    place-self: center;
}

.stopwatch-controls{
    display: flex;
    place-content: center;
    place-items: center;
    gap: 20px;
}