.tab-button{
    display: flex;
    background-color: var(--bg);
    color: var(--accent);
    border: solid var(--accent) 3px;
    border-radius: 10px;
    padding: 1dvh 2dvw;
    place-content: center;
    place-items: center;
}

.tab-button:active{
    background-color: var(--accent);
    color: var(--bg);
}

.tab-button>img{
    will-change: filter;
    filter: var(--icon-accent);
    height: 5dvh;
    cursor: pointer;
}

.tab-button:active>img{
    filter: var(--icon-bg);
}

.active{
    background-color: var(--accent);
    color: var(--bg);
}

.active>img{
    filter: var(--icon-bg);
}

@media (min-width: 700px) {
    
    .tab-button{
        padding: 5px;
        font-size: 20px;
        cursor: pointer;
        gap: 10px;
    }

    .tab-button>img{
        height: 30px;
    }

    .tab-button:hover{
        background-color: var(--accent);
        color: var(--bg);
    }

    .tab-button:hover>img{
        filter: var(--icon-bg);
    }
}