.tab-button{
    display: flex;
    background-color: var(--bg);
    color: var(--accent);
    border: solid var(--accent) 3px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    place-content: center;
    place-items: center;
    cursor: pointer;
}

.tab-button:hover{
    background-color: var(--accent);
    color: var(--bg);
}

.tab-button>img{
    filter: var(--icon-accent);
    height: 30px;
}

.tab-button:hover>img{
    filter: var(--icon-bg);
}