.timer{
    display: grid;
    grid-auto-rows: min-content;
    gap: 80px;
}

.timer-controls{
    display: flex;
    place-content: center;
    place-items: center;
    gap: 20px;
}

@media (min-width: 700px) and (orientation: landscape)
{
    .timer{
        gap: 30px;
    }
}